@import 'utility';
@import 'config';

    
#nav{
    background-color: $light-green;
    .main-heading{
        text-align: center;
        letter-spacing: 2px;
        font-size: 1.1rem;
    }   
}

#header{
  

    .header{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 2rem;
        background-color: $light-cream;
        &-info{
            display: flex;
            align-items: center;
            padding: 0 2rem;
            text-align: center;
            h1{
               
                font-size: 4rem;
            }
        }

        &-img{
            transform: translateY(-650px);
                animation: image 1s forwards ease-in-out;
                text-align: center;
                @keyframes image {
                        to{
                            transform: translateY(0);
                        }
                }
            
            img{
                width: 80%;
                border-radius: 10px;
            }
        }
    }
}


#home{
    &-a{
       background-color: #eeeeee;
        .boxes{
            padding: 2rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 2rem;
            
            .box{
                background-color: #ffffff;
               border-radius: 10px;
               box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                &-img{
                    height: 250px;
                    img{
                        height: 100%;
                        width:100%;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                
                    }
                }

                &-info{
                    padding:2rem 1rem;
                    p{
                        margin-top: 1rem;
                    }
                    a{
                        font-size: 1.3rem
                    }
                }
            }
        }
    }
}

#footer{
    .heart{
        margin-right: 3px;
    }
    p{
        text-align: center;
        padding: 1rem
        
    }
}












@import 'media';