@import 'utility';
@import 'config';
@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
#header{
      
    #nav{
        position: sticky;
        top: 0;
        .main-heading{
            background-color: $light-green;
            text-align: center;
            letter-spacing: 2px;
            font-size: 1.1rem;
        }   
    }

    .header{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 2rem;
        background-color: $light-cream;
        &-info{
            display: flex;
            align-items: center;
            padding: 0 2rem;
            text-align: center;
            h1{
                font-family: 'Catamaran', sans-serif;
                font-size: 4rem;
            }
        }

        &-img{
            transform: translateY(-650px);
                animation: image 1s forwards ease-in-out;
                text-align: center;
                @keyframes image {
                        to{
                            transform: translateY(0);
                        }
                }
            
            img{
                width: 80%;
                border-radius: 10px;
            }
        }
    }
}

















@import 'media';